<%= form_for(@response) do |f| %>
  <% if @response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% @response.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class='section'><%= (Section.find(session[:step]).heading).html_safe %></div>
    <div class='question'><%= Section.find(session[:step]).question %></div>
    <small> <%= Section.find(session[:step]).directions %> </small>
  </div>
  <%= f.hidden_field :inspection_id, value: session[:inspection_id] %>
  <%= f.hidden_field :section_id, value: session[:step]%>

  <% if Section.find(session[:step]).has_checkbox %>
  <div class="field">

    YES <%= f.radio_button :check, "1" %> </br>
    NO <%= f.radio_button :check, "0" %>

  </div>
  <% end %>
  <div class="field">
    <%= f.label :details %><br>
    <%= f.text_area :details %>
  </div>
  <% if Section.find(session[:step]).has_checkbox %>
  <div class="field">
    <%= f.label :media_data %><br>
    <%= f.file_field :media %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
