<%= form_for(@response) do |f| %>
  <% if @response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% @response.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= Section.find(session[:step]).question %><br/>
    <small> <%= Section.find(session[:step]).directions %> </small>
  </div>
  <%= f.hidden_field :inspection_id, value: session[:inspection_id] %>
  <%= f.hidden_field :section_id, value: session[:step]%>

  <% if Section.find(session[:step]).has_checkbox %>
  <div class="field">
    YES
    <%= f.check_box :check %>
    NO
    <%= check_box_tag :nil%>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :details %><br>
    <%= f.text_area :details %>
  </div>
  <% if Section.find(session[:step]).has_checkbox %>
  <div class="field">
    <%= f.label :media_data %><br>
    <%= f.file_field :media %>
  </div>
  <% end %>

  <div class="field">
    <% f.label :media_data %><br>
    <% f.text_field :media_data %>
  </div>
  <div class="field">
    <% f.label :media_filename %><br>
    <% f.text_area :media_filename %>
  </div>
  <div class="field">
    <% f.label :media_type %><br>
    <% f.text_area :media_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
