<div class='centered'>
  <%= form_for(@response) do |f| %>
    <% if @response.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@response.errors.count, "error") %> prohibited this response from being saved:</h2>

        <ul>
          <% @response.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <p><%= (Section.find(session[:step]).heading).html_safe %></p>
    </div>
    <%= f.hidden_field :inspection_id, value: session[:inspection_id] %>
    <%= f.hidden_field :section_id, value: session[:step]%>

    <div class="field">
      <%= f.label :details, "Milage:"%></br>
      <%= f.text_field :details %>
    </div>
    <div class="field">
      <%= f.label "Including Actual Miles?"%></br>
    </div>
    <div class="field">
      <%= f.label :check, "Yes", :value => "1"  %>
      <%= f.radio_button :check, "1" %>
      <%= f.label :check, "No", :value => "0" %>
      <%= f.radio_button :check, "0" %>
    </div>
    <div class="field">
      <%= f.text_area :auxilary_details %>
    </div>
    <div class="actions">
      <%= f.submit "Next" %>
    </div>
  <% end %>
</div>
