<div class='centered'>
  <%= form_for(@response,  :html=>{:multipart=>true}) do |f| %>
    <% if @response.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@response.errors.count, "error") %> prohibited this response from being saved:</h2>

        <ul>
          <% @response.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <div class='section'><%= (Section.find(session[:step]).heading).html_safe %></div>
      <div class='question'><%= Section.find(session[:step]).question %></div>
      <small> <%= Section.find(session[:step]).directions %> </small>
    </div>
    <%= f.hidden_field :inspection_id, value: session[:inspection_id] %>
    <%= f.hidden_field :section_id, value: session[:step]%>

    <div id='pictures'>
    </div>
    <input type="button" id="add" value="Add more media files"/>
    <input hidden='true' type="button" id='count' value='6'/>

    <div class="actions">
      <%= f.submit "Next" %>
    </div>
  <% end %>
</div>

