<div class="field">
  <%= f.label :year %><br>
  <%= f.number_field :year %>
</div>

<script>
  $(function() {
    var availableTags = ("<%= vehicle_make %>").split('&quot;');  
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  });
  </script>

<div class="field">
  <%= f.label :make %>
  <%= f.text_field :make, id: "tags" %>
</div>
<div class="field">
  <%= f.label :model %>
  <%= f.text_field :model %>
</div>
<div class="field">
  <%= f.label :stock_number %>
  <%= f.text_field :stock_number %>
</div>
<div class="field">
  <%= f.label :vin %>
  <%= f.text_field :vin, maxlength: 17 %>
</div>
<div class="field">
  <%= f.label :exterior_color %>
  <%= f.text_field :exterior_color %>
</div>
<div class="field">
  <%= f.label :interior_color %>
  <%= f.text_field :interior_color %>
</div>


