<%= form_for(@vehicle) do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= f.label :dealer_id %><br />
  <%= f.select( :dealer_id,  Dealer.all.map {|u| [u.name,u.id]}, {:include_blank => "Select a Dealer"}) %></div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :make %><br>
    <%= f.text_field :make %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :stock_no %><br>
    <%= f.text_field :stock_no %>
  </div>
  <div class="field">
    <%= f.label :vin_id %><br>
    <%= f.text_field :vin_id %>
  </div>
  <div class="field">
    <%= f.label :exterior_color %><br>
    <%= f.text_field :exterior_color %>
  </div>
  <div class="field">
    <%= f.label :interior_color %><br>
    <%= f.text_field :interior_color %>
  </div>
  <div class="field">
    <%= f.label :including_actual_miles %><br>
    <%= f.text_field :including_actual_miles %>
  </div>
  <div class="field">
    <%= f.label :not_lncluding_actual_miles %><br>
    <%= f.text_field :not_lncluding_actual_miles %>
  </div>
  <div class="field">
    <%= f.label :estimated_total_cost_of_repair %><br>
    <%= f.text_field :estimated_total_cost_of_repair %>
  </div>
  <div class="field">
    <%= f.label :inspection_revealed_safety_issues %><br>
    <%= f.check_box :inspection_revealed_safety_issues %>
  </div>
  <div class="field">
    <%= f.label :inspection_revealed_safety_issues_details %><br>
    <%= f.text_area :inspection_revealed_safety_issues_details %>
  </div>
  <div class="field">
    <%= f.label :inspection_revealed_frame_damage %><br>
    <%= f.check_box :inspection_revealed_frame_damage %>
  </div>
  <div class="field">
    <%= f.label :inspection_revealed_frame_damage_details %><br>
    <%= f.text_area :inspection_revealed_frame_damage_details %>
  </div>
  <p>1. inspection of the motor vehicle for evidence of repainting (N.M.A.C. 12.2.14.11(L)(1))</p>
  <div class="field">
    <%= f.label :sec_7_1_a, "Differences in paint color or texture" %><br>
    <%= f.check_box :sec_7_1_a %>
  </div>
  <div class="field">
    <%= f.text_area :sec_7_1_a_details %>
  </div>
  <div class="field">
    <%= f.label :sec_7_1_b, "Mismatched sizes of metallic sparkle in the paint" %><br>
    <%= f.check_box :sec_7_1_b %>
  </div>
  <div class="field">
    <%= f.text_area :sec_7_1_b_details %>
  </div>
  <div class="field">
    <%= f.label :sec_7_1_c, "Embedded dirt or deep scratches in the top coat of the paint" %><br>
    <%= f.check_box :sec_7_1_c %>
  </div>
  <div class="field">
    <%= f.text_area :sec_7_1_c_details %>
  </div>
  <div class="field">
    <%= f.label :sec_7_1_d, "Uneven paint thickness" %><br>
    <%= f.check_box :sec_7_1_d %>
  </div>
  <div class="field">
    <%= f.text_area :sec_7_1_d_details %>
  </div>
  <p>2. Inspection of the motor vehicle body and cab (N.M.A.C. 12.2.14.11(L)(2))</p>
  <div class="field">
    <%= f.label :sec_7_2_a, "Uneven gaps between sheet metal panels" %><br>
    <%= f.check_box :sec_7_2_a %>
  </div>
  <div class="field">
    <%= f.text_area :sec_7_2_a_details %>
  </div>
  <div class="field">
    <%= f.label :sec_7_2_b, "Differences between the headlamps" %><br>
    <%= f.check_box :sec_7_2_b %>
  </div>
  <div class="field">
    <%= f.text_area :sec_7_2_b_details %>
  </div>
  <div class="field">
    <%= f.label :sec_7_2_c, "Paint overspray on moldings and trim" %><br>
    <%= f.check_box :sec_7_2_c %>
  </div>
  <div class="field">
    <%= f.text_area :sec_7_2_c_details %>
  </div>
  <div class="field">
    <%= f.label :sec_7_2_d, "Paint tape edges in the jams" %><br>
    <%= f.check_box :sec_7_2_d %>
  </div>
  <div class="field">
    <%= f.text_area :sec_7_2_d_details %>
  </div>
  <div class="field">
    <%= f.label :sec_7_2_e, "Paint chipped off of bolt heads" %><br>
    <%= f.check_box :sec_7_2_e %>
  </div>
  <div class="field">
    <%= f.text_area :sec_7_2_e_details %>
  </div>
  <div class="field">
    <%= f.label :sec_7_2_f, "Paint missing around bolt heads or bolts not centered in the bolt hole" %><br>
    <%= f.check_box :sec_7_2_f %>
  </div>
  <div class="field">
    <%= f.text_area :sec_7_2_f_details %>
  </div>
  <div class="field">
    <%= f.label :sec_7_2_g, "Hammer damage" %><br>
    <%= f.check_box :sec_7_2_g %>
  </div>
  <div class="field">
    <%= f.text_area :sec_7_2_g_details %>
  </div>
  <div class="field">
    <%= f.label :sec_7_2_h, "Holes drilled and plugged in jams or shell of the motor vehicle" %><br>
    <%= f.check_box :sec_7_2_h %>
  </div>
  <div class="field">
    <%= f.text_area :sec_7_2_h_details %>
  </div>
  <div class="field">
    <%= f.label :sec_7_2_i, "Damage inside the trunk or under the spare tire" %><br>
    <%= f.check_box :sec_7_2_i %>
  </div>
  <div class="field">
    <%= f.text_area :sec_7_2_i_details %>
  </div>
  <div class="field">
    <%= f.label :sec_7_2_j, "Signs of corrosion or lack of corrosion protection" %><br>
    <%= f.check_box :sec_7_2_j %>
  </div>
  <div class="field">
    <%= f.text_area :sec_7_2_j_details %>
  </div>
  <p>3. Inspection of the motor vehicle chassis (N.M.A.C. 12.2.14.11(L)(3))</p>
  <div class="field">
    <%= f.label :sec_7_3_a, "Pinched weld flange underneath the motor vehicle" %><br>
    <%= f.check_box :sec_7_3_a %>
  </div>
  <div class="field">
    <%= f.text_area :sec_7_3_a_details %>
  </div>
  <div class="field">
    <%= f.label :sec_7_3_b, "Weld sites" %><br>
    <%= f.check_box :sec_7_3_b %>
  </div>
  <div class="field">
    <%= f.text_area :sec_7_3_b_details %>
  </div>
  <div class="field">
    <%= f.label :sec_7_3_c, "Signs of repair to unibody structural parts" %><br>
    <%= f.check_box :sec_7_3_c %>
  </div>
  <div class="field">
    <%= f.label :sec_7_3_c_details %><br>
    <%= f.text_area :sec_7_3_c_details %>
  </div>
  <div class="field">
    <%= f.label :sec_7_3_d, "Signs of buckles or non-OEM welding repair to the unibody structural parts" %><br>
    <%= f.check_box :sec_7_3_d %>
  </div>
  <div class="field">
    <%= f.text_area :sec_7_3_d_details %>
  </div>
  <div class="field">
    <%= f.label :sec_7_3_e, "Signs of corrosion or lack of corrosion protection" %><br>
    <%= f.check_box :sec_7_3_e %>
  </div>
  <div class="field">
    <%= f.text_area :sec_7_3_e_details %>
  </div>
  <div class="field">
    <%= f.label :sec_7_3_f, "Signs of any other alteration or repair having been performed to the chassis" %><br>
    <%= f.check_box :sec_7_3_f %>
  </div>
  <div class="field">
    <%= f.text_area :sec_7_3_f_details %>
  </div>
  <div class="field">
    <%= f.label :sec_7_3_g, "Odometer alteration or repair" %><br>
    <%= f.check_box :sec_7_3_g %>
  </div>
  <div class="field">
    <%= f.text_area :sec_7_3_g_details %>
  </div>
  <p>4. Signs of differences and inconsistencies with the motor vehicle’s caulking and seam sealer (N.M.A.C. 12.2.14.11(L)</p>
  <div class="field">
    <%= f.check_box :sec_7_4 %>
  </div>
  <div class="field">
    <%= f.text_area :sec_7_4_details %>
  </div>
  <p>5. Signs of tampering with motor vehicle’s identification tags (N.M.A.C. 12.2.14.11(L)(5))</p>
  <div class="field">
    <%= f.check_box :sec_7_5 %>
  </div>
  <div class="field">
    <%= f.text_area :sec_7_5_details %>
  </div>
  <p>6. Signs of motor vehicle parts labeled “R-DOT” (N.M.A.C. 12.2.14.11(L)(6))</p>
  <div class="field">
    <%= f.check_box :sec_7_6 %>
  </div>
  <div class="field">
    <%= f.text_area :sec_7_6_details %>
  </div>
  <p>7. Signs of any type of repairs not consistent with I-CAR collision repair standards or equivalent (N.M.A.C.12.2.14.11(L)(7))</p>
  <div class="field">
    <%= f.check_box :sec_7_7 %>
  </div>
  <div class="field">
    <%= f.text_area :sec_7_7_details %>
  </div>
  <div class="field">
    <%= f.label :estimated_total_cost_for_repairs %><br>
    <%= f.number_field :estimated_total_cost_for_repairs %>
  </div>
  <div class="field">
    <%= f.label :date_of_inspection %><br>
    <%= f.date_select :date_of_inspection %>
  </div>
  <div class="field">
    <%= f.label :calculation_and_total_cost_for_inspection %><br>
    <%= f.number_field :calculation_and_total_cost_for_inspection %>
  </div>
  <div class="field">
    <%= f.label :total_cost %><br>
    <%= f.number_field :total_cost %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
