<h1>Listing inspections</h1>

<table>
  <thead>
    <tr>
      <th>Dealer</th>
      <th>User</th>
      <th>Vehicle</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @inspections.each do |inspection| %>
      <tr>
        <td><%= inspection.dealer_id %></td>
        <td><%= inspection.user_id %></td>
        <td><%= inspection.vehicle_id %></td>
        <td><%= link_to 'Show', inspection %></td>
        <td><%= link_to 'Edit', edit_inspection_path(inspection) %></td>
        <td><%= link_to 'Destroy', inspection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Show PDF', {:controller => "reports", :action => "pdf", :id => inspection.id, :format => :pdf} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inspection', new_inspection_path %>
