<h1>Listing inspections</h1>

<%= form_tag("/inspections", :method => "get") do %>
  <p class="search">
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th>VIN Number</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @inspections.each do |inspection| %>
      <tr>
        <td><%= inspection.vehicle.vin %></td>
        <td><%= link_to 'Show Report', {:controller => "reports", :action => "pdf", :id => inspection.id, :format => :pdf} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inspection', new_inspection_path %>
