<div class="reports_page">
<p class="bold_text">All Inspections</p>

<%= form_tag("/inspections", :method => "get") do %>
  <p class="search">
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search VIN", :name => nil %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th>VIN Number</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @inspections.each do |inspection| %>
      <tr>
        <td><%= inspection.vehicle.vin %></td>
        <td><%= link_to 'Show Report', {:controller => "reports", :action => "pdf", :id => inspection.id, :format => :pdf} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Inspection', new_inspection_path, :method => :get %>
</div>