<p id="notice"><%= notice %></p>

<p>
  <strong>Dealer:</strong>
  <%= @inspection.dealer_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @inspection.user_id %>
</p>

<p>
  <strong>Year:</strong>
  <%= @inspection.year %>
</p>

<p>
  <strong>Make:</strong>
  <%= @inspection.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @inspection.model %>
</p>

<p>
  <strong>Stock no:</strong>
  <%= @inspection.stock_no %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @inspection.vin_id %>
</p>

<p>
  <strong>Exterior color:</strong>
  <%= @inspection.exterior_color %>
</p>

<p>
  <strong>Interior color:</strong>
  <%= @inspection.interior_color %>
</p>

<p>
  <strong>Including actual miles:</strong>
  <%= @inspection.including_actual_miles %>
</p>

<p>
  <strong>Not lncluding actual miles:</strong>
  <%= @inspection.not_lncluding_actual_miles %>
</p>

<p>
  <strong>Estimated total cost of repair:</strong>
  <%= @inspection.estimated_total_cost_of_repair %>
</p>

<p>
  <strong>Inspection revealed safety issues:</strong>
  <%= @inspection.inspection_revealed_safety_issues %>
</p>

<p>
  <strong>Inspection revealed safety issues details:</strong>
  <%= @inspection.inspection_revealed_safety_issues_details %>
</p>

<p>
  <strong>Inspection revealed frame damage:</strong>
  <%= @inspection.inspection_revealed_frame_damage %>
</p>

<p>
  <strong>Inspection revealed frame damage details:</strong>
  <%= @inspection.inspection_revealed_frame_damage_details %>
</p>

<p>
  <strong>Sec 7 1 a:</strong>
  <%= @inspection.sec_7_1_a %>
</p>

<p>
  <strong>Sec 7 1 a details:</strong>
  <%= @inspection.sec_7_1_a_details %>
</p>

<p>
  <strong>Sec 7 1 b:</strong>
  <%= @inspection.sec_7_1_b %>
</p>

<p>
  <strong>Sec 7 1 b details:</strong>
  <%= @inspection.sec_7_1_b_details %>
</p>

<p>
  <strong>Sec 7 1 c:</strong>
  <%= @inspection.sec_7_1_c %>
</p>

<p>
  <strong>Sec 7 1 c details:</strong>
  <%= @inspection.sec_7_1_c_details %>
</p>

<p>
  <strong>Sec 7 1 d:</strong>
  <%= @inspection.sec_7_1_d %>
</p>

<p>
  <strong>Sec 7 1 d details:</strong>
  <%= @inspection.sec_7_1_d_details %>
</p>

<p>
  <strong>Sec 7 2 a:</strong>
  <%= @inspection.sec_7_2_a %>
</p>

<p>
  <strong>Sec 7 2 a details:</strong>
  <%= @inspection.sec_7_2_a_details %>
</p>

<p>
  <strong>Sec 7 2 b:</strong>
  <%= @inspection.sec_7_2_b %>
</p>

<p>
  <strong>Sec 7 2 b details:</strong>
  <%= @inspection.sec_7_2_b_details %>
</p>

<p>
  <strong>Sec 7 2 c:</strong>
  <%= @inspection.sec_7_2_c %>
</p>

<p>
  <strong>Sec 7 2 c details:</strong>
  <%= @inspection.sec_7_2_c_details %>
</p>

<p>
  <strong>Sec 7 2 d:</strong>
  <%= @inspection.sec_7_2_d %>
</p>

<p>
  <strong>Sec 7 2 d details:</strong>
  <%= @inspection.sec_7_2_d_details %>
</p>

<p>
  <strong>Sec 7 2 a:</strong>
  <%= @inspection.sec_7_2_a %>
</p>

<p>
  <strong>Sec 7 2 a details:</strong>
  <%= @inspection.sec_7_2_a_details %>
</p>

<p>
  <strong>Sec 7 2 b:</strong>
  <%= @inspection.sec_7_2_b %>
</p>

<p>
  <strong>Sec 7 2 b details:</strong>
  <%= @inspection.sec_7_2_b_details %>
</p>

<p>
  <strong>Sec 7 2 c:</strong>
  <%= @inspection.sec_7_2_c %>
</p>

<p>
  <strong>Sec 7 2 c details:</strong>
  <%= @inspection.sec_7_2_c_details %>
</p>

<p>
  <strong>Sec 7 2 d:</strong>
  <%= @inspection.sec_7_2_d %>
</p>

<p>
  <strong>Sec 7 2 d details:</strong>
  <%= @inspection.sec_7_2_d_details %>
</p>

<p>
  <strong>Sec 7 2 e:</strong>
  <%= @inspection.sec_7_2_e %>
</p>

<p>
  <strong>Sec 7 2 e details:</strong>
  <%= @inspection.sec_7_2_e_details %>
</p>

<p>
  <strong>Sec 7 2 f:</strong>
  <%= @inspection.sec_7_2_f %>
</p>

<p>
  <strong>Sec 7 2 f details:</strong>
  <%= @inspection.sec_7_2_f_details %>
</p>

<p>
  <strong>Sec 7 2 g:</strong>
  <%= @inspection.sec_7_2_g %>
</p>

<p>
  <strong>Sec 7 2 g details:</strong>
  <%= @inspection.sec_7_2_g_details %>
</p>

<p>
  <strong>Sec 7 2 h:</strong>
  <%= @inspection.sec_7_2_h %>
</p>

<p>
  <strong>Sec 7 2 h details:</strong>
  <%= @inspection.sec_7_2_h_details %>
</p>

<p>
  <strong>Sec 7 2 i:</strong>
  <%= @inspection.sec_7_2_i %>
</p>

<p>
  <strong>Sec 7 2 i details:</strong>
  <%= @inspection.sec_7_2_i_details %>
</p>

<p>
  <strong>Sec 7 2 j:</strong>
  <%= @inspection.sec_7_2_j %>
</p>

<p>
  <strong>Sec 7 2 j details:</strong>
  <%= @inspection.sec_7_2_j_details %>
</p>

<p>
  <strong>Sec 7 3 a:</strong>
  <%= @inspection.sec_7_3_a %>
</p>

<p>
  <strong>Sec 7 3 a details:</strong>
  <%= @inspection.sec_7_3_a_details %>
</p>

<p>
  <strong>Sec 7 3 b:</strong>
  <%= @inspection.sec_7_3_b %>
</p>

<p>
  <strong>Sec 7 3 b details:</strong>
  <%= @inspection.sec_7_3_b_details %>
</p>

<p>
  <strong>Sec 7 3 c:</strong>
  <%= @inspection.sec_7_3_c %>
</p>

<p>
  <strong>Sec 7 3 c details:</strong>
  <%= @inspection.sec_7_3_c_details %>
</p>

<p>
  <strong>Sec 7 3 d:</strong>
  <%= @inspection.sec_7_3_d %>
</p>

<p>
  <strong>Sec 7 3 d details:</strong>
  <%= @inspection.sec_7_3_d_details %>
</p>

<p>
  <strong>Sec 7 3 e:</strong>
  <%= @inspection.sec_7_3_e %>
</p>

<p>
  <strong>Sec 7 3 e details:</strong>
  <%= @inspection.sec_7_3_e_details %>
</p>

<p>
  <strong>Sec 7 3 f:</strong>
  <%= @inspection.sec_7_3_f %>
</p>

<p>
  <strong>Sec 7 3 f details:</strong>
  <%= @inspection.sec_7_3_f_details %>
</p>

<p>
  <strong>Sec 7 3 g:</strong>
  <%= @inspection.sec_7_3_g %>
</p>

<p>
  <strong>Sec 7 3 g details:</strong>
  <%= @inspection.sec_7_3_g_details %>
</p>

<p>
  <strong>Sec 7 4:</strong>
  <%= @inspection.sec_7_4 %>
</p>

<p>
  <strong>Sec 7 4 details:</strong>
  <%= @inspection.sec_7_4_details %>
</p>

<p>
  <strong>Sec 7 5:</strong>
  <%= @inspection.sec_7_5 %>
</p>

<p>
  <strong>Sec 7 5 details:</strong>
  <%= @inspection.sec_7_5_details %>
</p>

<p>
  <strong>Sec 7 6:</strong>
  <%= @inspection.sec_7_6 %>
</p>

<p>
  <strong>Sec 7 6 details:</strong>
  <%= @inspection.sec_7_6_details %>
</p>

<p>
  <strong>Sec 7 7:</strong>
  <%= @inspection.sec_7_7 %>
</p>

<p>
  <strong>Sec 7 7 details:</strong>
  <%= @inspection.sec_7_7_details %>
</p>

<p>
  <strong>Estimated total cost for repairs:</strong>
  <%= @inspection.estimated_total_cost_for_repairs %>
</p>

<p>
  <strong>Date of inspection:</strong>
  <%= @inspection.date_of_inspection %>
</p>

<p>
  <strong>Calculation and total cost for inspection:</strong>
  <%= @inspection.calculation_and_total_cost_for_inspection %>
</p>

<p>
  <strong>Total cost:</strong>
  <%= @inspection.total_cost %>
</p>

<%= link_to 'Edit', edit_inspection_path(@inspection) %> |
<%= link_to 'Back', inspections_path %>
