<p id="notice"><%= notice %></p>

<p>
  <strong>Dealer:</strong>
  <%= @inspection.dealer_id %>
</p>

<p>
  <strong>User is:</strong>
  <%= @inspection.user_is %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @inspection.vehicle_id %>
</p>

<%= link_to 'Edit', edit_inspection_path(@inspection) %> |
<%= link_to 'Back', inspections_path %>
