<!DOCTYPE html>
<html>
<head>
  <title>Aac</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <meta name = "viewport" content = "user-scalable = no">
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="logged-in">
    <% if user_signed_in? %>
      Signed in as <SPAN id="top-username"> <%= current_user.email %> </SPAN>. Not you?
      <%= link_to "Sign out", destroy_user_session_path %>
    <% end %>
  </div>
  <div class="home_page_logo">
    <img src="/assets/AAC-logo3.png" />
  </div>

  <div class="menu-wrapper">
    <ul class="menu">
      <li class="item1"><a href="#">Navigation Menu</a>
      <ul>
        <li class="subitem1"><a href="/dashboard/index">Home</a></li>
        <li><a href="/inspections/main/">Inspections</a></li>
        <li class="subitem2"><a href="/inspections/">Search Reports</a> </li>
        <li><a href="/dealers/">Dealers</a>
        </li>		
      </ul>
      </li>
    </ul>
  </div>

	<div class="wrapper">

	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  <% session[:step] %>
  <% session[:inspection_id] %> 
  <% session[:debug] %> 


<%= yield %>

	</div>
  
  <!--initiate accordion-->
  <script type="text/javascript">
    $(function() {
    
        var menu_ul = $('.menu > li > ul'),
               menu_a  = $('.menu > li > a');
        
        menu_ul.hide();
    
        menu_a.click(function(e) {
            e.preventDefault();
            if(!$(this).hasClass('active')) {
                menu_a.removeClass('active');
                menu_ul.filter(':visible').slideUp('normal');
                $(this).addClass('active').next().stop(true,true).slideDown('normal');
            } else {
                $(this).removeClass('active');
                $(this).next().stop(true,true).slideUp('normal');
            }
        });
    
    });
  </script>
</body>
</html>
