<!DOCTYPE html>
<html>
<head>
  <title>Aac</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= wicked_pdf_stylesheet_link_tag "application.css" %>
</head>
<body class="no_background_color">

<%= yield %>

</body>
</html>
